:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

header {
  display: block;
  flex-shrink: 0;
  padding: 1rem;
  box-shadow: 0 4px 56px rgba(214, 214, 214, 0.12);

  .header_inner {
    display: flex;
    align-items: center;
  }

  .header_buttons > button {
    margin: 0 0.3rem;
  }
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;

  & > * {
    width: 100%;
  }
}

footer {
  flex-shrink: 0;
  padding: 1.5rem 1rem;
  box-shadow: inset 0 1px 0 0 #818181;
}

.ui-spacer {
  flex-grow: 1;
}
