<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
      <button
        type="button"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="controls.email.setValue('')"
      >
        <mat-icon fontIcon="close"></mat-icon>
      </button>
      <mat-error *ngIf="controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showPassword = !showPassword"
      >
        <mat-icon
          [fontIcon]="showPassword ? 'visibility' : 'visibility_off'"
        ></mat-icon>
      </button>
      <mat-error *ngIf="controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button
      type="submit"
      class="w-100 submit-btn"
      mat-flat-button
      color="primary"
    >
      Login
    </button>
  </div>
</form>
